@import "../../scss/breakpoints";
.job-detail {
  font-size: 12px;
  &__titles {
    height: 50px;
    background-color: #e9ecef;
    cursor: pointer;

    .active {
      background-color: #ffffff;
      color: #1170ca;
      height: 50px;
      border-bottom: 2px solid #1170ca;
    }

    .tiles {
      // width: 150px;
      text-align: center;
    }
  }
  &__btn:nth-child(1) {
    .icon-btn__text {
      border-radius: 2px;
      background-color: #2570ca;
      color: white;
    }
  }

  .job-section {
    min-height: 200px;
    @include breakpoint("mobile-max") {
      min-height: 110px;
    }
  }

  @include breakpoint("mobile-max") {
    font-size: 8px;
  }
}
