@import "../scss/breakpoints";

.dashboard {
  .sidebar {
    width: 5%;
    align-items: stretch;
    @include breakpoint("mobile-max") {
      width: 10%;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    padding: 5px;
    height: 100%;
    .container {
      display: flex;
      flex-grow: 1;
      flex-wrap: nowrap;
      @include breakpoint("mobile-max") {
        display: block;
        overflow-x: hidden;
      }
    }

    &__first {
      width: 70%;
      @include breakpoint("mobile-max") {
        width: 100%;
      }
    }
    &__sec {
      width: 30%;
      @include breakpoint("mobile-max") {
        width: 100%;
      }
    }
  }
}
