@import "../../scss/breakpoints";
.notes {
  font-size: 12px;
  &__titles {
    height: 50px;
    background-color: #e9ecef;
    cursor: pointer;

    .tiles {
      width: 100px;
      text-align: center;
    }

    .active {
      background-color: #ffffff;
      color: #1170ca;
      height: 50px;
      border-bottom: 2px solid #1170ca;
    }
  }
  &__btn:nth-child(1) {
    .icon-btn__text {
      border-radius: 2px;
      background-color: #2570ca;
      color: white;
    }
  }

  &__icons {
    color: #2570ca;
  }

  @include breakpoint("mobile-max") {
    font-size: 10px;
  }
}
